
html, body {
  margin: 0;
}

body {
  background-color: #F7F7F7;
  position: relative; 
}


body::before {
  content: "";
  position: fixed;
  inset: 0; 
  background-image: url("about.svg"); 
  background-position: center;
  background-size: cover;
  opacity: 0.03; 

}

.layout {
  position: relative;     
  width: 1440px;           
  height: 1024px;          
  margin: 0 auto;          
  
}


.layout .fotka {
  position: absolute;
  top: 55%;                 
  right: 100px;              
  transform: translateY(-50%); 
  width: 500px;             
}


.layout .anita {
  position: absolute;
  top: 50px;                
  left: 100px;               
  width: 850px;
}


.layout .tekst {
  position: absolute;
  top: 450px; 
  left: 100px;                     
  width: 600px;
}

.top-menu {
  position: fixed;
  top: 35px;
  right: 40px;
  display: flex;
  align-items: center;      
  gap: 25px;
  z-index: 1000;
}

.home-icon {
  width: 20px;
  height: 20px;
}

.work-icon {
  width: 29px;
  height: 29px;
}

.kontakt-icon {
  width: 24px;
  height: 24px;
}

.top-menu img {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.top-menu img:hover {
  transform: scale(1.1);
}