
html, body {
  margin: 0;
}



body::before {
  content: "";
  position: fixed;
  inset: 0; 
  background-image: url("kontakt.svg"); 
  background-position: center;
  background-size: cover;
  opacity: 0.03; 
  pointer-events: none; 
  
}

body {
  height: 100vh;          
  display: flex;           
  justify-content: center; 
  align-items: center;     
  background-color: #f7f7f7;
}

.center-text {
  text-align: center;      
}

.center-text h1,
.center-text h2 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  margin: 0 0 10px 0;
  color: #333;
}


.insta,
.mail {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.insta:hover,
.mail:hover {
  color: #FAB95B;
}


.top-menu {
  position: fixed;      
  top: 35px;            
  right: 40px;      
  display: flex;
  align-items: center;  
  gap: 25px;
  z-index: 1000;     
}

.home-icon {
  width: 20px;
  height: 20px;
}

.work-icon {
  width: 29px;
  height: 29px;
}

.about-icon {
  width: 26px;
  height: 26px;
}

.top-menu img {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.top-menu img:hover {
  transform: scale(1.1);
}
