
body {
  background-color: ;
  overflow-x: hidden;
  margin: 0;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("work.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  color: black;
  margin: 20;
  padding-bottom: 15px;
}


#projekti {
  display: flex;
  flex-direction: column;
  margin: 20px 10vw;
}


.projekat {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

/
.projekat:last-child {
  margin-bottom: 0;
}


.projekat img {
  width: 80%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


h2 {
  margin: 0;
}

img {
  display: block;
}
