body {
	overflow-x: hidden;
	margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0; 
  background-image: url("work.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.03; 
  pointer-events: none; 
  z-index: -1; 


}
header {
	position: sticky;
	display: grid;
	top: 0;
	margin: 0;
	padding-top: 15px;
	grid-template-columns: auto auto;
	

}

#naslov {
	width: 320px;
	margin-left: 20px;
	padding-bottom: 15px;
}
h1 {
	font-family: Arial, sans-serif;
	font-size: 40px;
	color: black;
	margin: 20px;
	padding-bottom: 15px;
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

p {

    font-family: Arial, sans-serif;
	font-size: 20px;
	color: white;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;

}

a:hover {
	color: grey;
}

img {
	width: 500px;
}

h2 {
	font-family: Arial, sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: white;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 15px;
}




img {
  width: 500px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  color: black;
  margin: 20px;
  padding-bottom: 15px;
}



#projekti {
  display: flex;             
  flex-direction: column;     
  margin: 50px 10vw;         
  gap: 40px;                 
}


.projekat {
  width: 100%;               
  display: flex;
  justify-content: center;   
}


.projekat img {
  width: 80%;               
  max-width: 600px;         
  height: auto;            
  object-fit: contain;       
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.top-menu {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  align-items: center;      
  gap: 25px;
  z-index: 1000;
}

.top-menu a {
  display: flex;
  align-items: center;
  justify-content: center;  
}


.home-icon {
  width: 20px;
  height: 20px;
}

.about-icon {
  width: 26px;
  height: 26px;
}

.kontakt-icon {
  width: 24px;
  height: 24px;
}

.top-menu img {
  display: block;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.top-menu img:hover {
  transform: scale(1.1);
}